*{margin:0; padding:0;}
html {
    font-family: 'Playfair Display', serif;
}

#page-title{
    text-align: center;
    padding: 50px;
   font-weight: 400;
}

.container {
width: max-content;
max-width: 1000px;
background: rgb(3, 1, 15);
/*height: 400px;*/
margin: 0 auto;
margin-top: 30px;
margin-bottom: 30px;

/*TRBL//"TROUBLE"*/
/*margin: 0 auto;
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;*/

/*position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);*/
}

/*images by default are: display: inline-block*/
.container img{
    width:300px;
    margin: 30px;
    padding-top: 30px;
    display: block;
}